<div class="logoDiv">
    <img class= "logonegro" src="assets/imgs/logonegro.png">
    <img src="assets/imgs/signout.png" class="logoMenu" (click)="logout()">
</div>

<ion-content>
  <!-- <div class="logoDiv">
      <img class= "logonegro" src="assets/imgs/logonegro.png">
      <img src="assets/imgs/signout.png" class="logoMenu" (click)="logout()">
  </div> -->
  <ion-grid>
    <ion-row class="firstsecond-row" align-items-end (click)="goBack()">
      <ion-col>
        <span class="backStyle"> <ion-icon name="md-arrow-forward" class="goBackArrow"></ion-icon>
          Solicitudes
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="firstsecond-row" align-items-end>
      <ion-col>
        <p class="lightblue-titles">Comandancia de Capitanía de Puertos</p>
      </ion-col>
    </ion-row>

    <div class="margins">
      <ion-list padding no-lines>
        <!-- <ion-item> -->
          <ion-label>
              <ion-grid no-padding>
                <ion-row no-padding>
                  <ion-col size="10"  no-padding>
                      <span  class="listTitle">Matriculación de embarcaciones</span> 
                  </ion-col>
                  <ion-col size="2"    no-padding text-end>
                      <ion-icon name="md-arrow-forward" class="goForward" (click)="goToForm()"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-label>
        <!-- </ion-item> -->
      </ion-list>

      <ion-list padding no-lines>
        <!-- <ion-item> -->
          <ion-label>
              <ion-grid no-padding>
                <ion-row no-padding>
                  <ion-col size="10"  no-padding>
                      <span class="listTitle">Permiso de despacho</span> 
                  </ion-col>
                  <ion-col size="2"  no-padding text-end>
                      <ion-icon name="md-arrow-forward" class="goForward" (click)="goToForm()"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-label>
        <!-- </ion-item> -->
      </ion-list>

      <ion-list padding no-lines>
        <!-- <ion-item> -->
          <ion-label>
              <ion-grid no-padding>
                <ion-row no-padding>
                  <ion-col size="10" no-padding>
                      <span  class="listTitle">Renovación de matrícula</span> 
                  </ion-col>
                  <ion-col size="2"   no-padding text-end>
                      <ion-icon name="md-arrow-forward" class="goForward" (click)="goToForm()"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-label>
        <!-- </ion-item> -->
      </ion-list>

      <ion-list padding no-lines>
        <!-- <ion-item> -->
          <ion-label>
              <ion-grid no-padding>
                <ion-row no-padding>
                  <ion-col size="10"  no-padding>
                      <span  class="listTitle">Permiso de traslado de embarcación</span> 
                  </ion-col>
                  <ion-col size="2"    no-padding text-end>
                      <ion-icon name="md-arrow-forward" class="goForward" (click)="goToForm()"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-label>
        <!-- </ion-item> -->
      </ion-list>

      <ion-list padding no-lines>
        <!-- <ion-item> -->
          <ion-label>
              <ion-grid no-padding>
                <ion-row no-padding>
                  <ion-col size="10"  no-padding>
                      <span  class="listTitle">Certificado de no objeción</span> 
                  </ion-col>
                  <ion-col size="2"    no-padding text-end>
                      <ion-icon name="md-arrow-forward" class="goForward" (click)="goToForm()"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-label>
        <!-- </ion-item> -->
      </ion-list>

      <ion-list padding no-lines>
        <!-- <ion-item> -->
          <ion-label>
              <ion-grid no-padding>
                <ion-row no-padding>
                  <ion-col size="10"  no-padding>
                      <span  class="listTitle">Reporte de construcción ilegal</span> 
                  </ion-col>
                  <ion-col size="2"    no-padding text-end>
                      <ion-icon name="md-arrow-forward" class="goForward" (click)="goToForm()"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-label>
        <!-- </ion-item> -->
      </ion-list>
    </div>
  
  </ion-grid> 
</ion-content>

<!-- <app-tabs></app-tabs> -->
