ion-content.blue-pages{
    --ion-background-color: #315d7a;
}

ion-header.blue-pages{
    background-color: #315d7a;
}

img.logo{
    width: 80px;
}

.logoDiv {
    text-align: right;
    padding: 30px 30px 0 0;
}

h3.blue-titles{   
    color: #3ba6de;
   
}

h3.white-titles, h6.white-titles {
    color: white;
    
}

a.blue-pages{
    color: white;
}

#olvidaste-contrasena{
    margin-top: 3%;
    color: #3ba6de;
    text-decoration: underline;
}

.button-submit{
    background-color: #3CA6DE;
    padding: 15px;
    color: white;
    border-radius: 30px;
    width: 100%;
    font-size: 5vw;
    font-weight: 800;
    outline: none;
}

.inputEmail{
    color: white;
    border-bottom: 1px solid;
    text-align: left;
    padding: 10px 20px;
    margin: 0 0 55px 0;
}

.labelInfo {
    margin: 0 0 20px 0;
}

ion-label.blue-pages, ion-select.blue-pages{
    color:white;    
}



  