<ion-content>
    <div class="logoDiv">
        <img class= "logonegro" src="assets/imgs/logonegro.png">
        <img src="assets/imgs/signout.png" class="logoMenu" (click)="logout()">
    </div> 
    <ion-grid>

      <ion-row class="firstsecond-row" align-items-end>
        <ion-col>
          <p class="lightblue-titles">Estados</p>
        </ion-col>
      </ion-row>

      <ion-row class="firstsecond-row">
        <ion-col col-4>
<p>#</p>
        </ion-col>
        <ion-col col-4>
<p>Fecha</p>
        </ion-col>
        <ion-col col-4>
<p>Estado</p>
        </ion-col>
      </ion-row>

      <ion-row class="firstsecond-row">
        <ion-col col-4>
<p>ABC12345678</p>
        </ion-col>
        <ion-col col-4>
<p>00/00/00</p>
        </ion-col>
        <ion-col col-4>
<p>Trabajando</p>
        </ion-col>
      </ion-row>

      <ion-row class="firstsecond-row">
        <ion-col col-4>
<p>ABC12345678</p>
        </ion-col>
        <ion-col col-4>
<p>00/00/00</p>
        </ion-col>
        <ion-col col-4>
<p>Trabajando</p>
        </ion-col>
      </ion-row>

      <ion-row class="firstsecond-row">
        <ion-col col-4>
<p>ABC12345678</p>
        </ion-col>
        <ion-col col-4>
<p>00/00/00</p>
        </ion-col>
        <ion-col col-4>
<p>Trabajando</p>
        </ion-col>
      </ion-row>

      
    </ion-grid>
</ion-content>
