
.lightblue-titles{
	color: #3ba6de;
	font-size: 20px; 
	font-weight: bold;
}

.margins{
	padding-left: 3%;
}

.iconos-ayuda{
    margin: 0 9px 0 0;
    color: #3ba6de;
}

.plainText {
    color: #414141;
}

img.logonegro{
    width: 80px;
}

.logoDiv {
    // text-align: right;
    padding: 30px 0 0 30px;
}

.logoMenu {
    float: right;
    padding: 30px;
    height: 85px;
}

.firstsecond-row {
    padding: 0 30px 0 30px;
}


