
.lightblue-titles{
	color: #3ba6de;
	font-size: 20px; 
	font-weight: bold;
}

.margins{
    margin: 0 30px 0;
    height: 50vh;
    overflow: scroll;
}

.iconos-ayuda{
    margin: 0 9px 0 0;
    color: #3ba6de;
}

.plainText {
    color: #414141;
    text-decoration: none;
}

img.logonegro{
    width: 80px;
}

.logoDiv {
    // text-align: right;
    padding: 30px 0 0 30px;
}

.logoMenu {
    float: right;
    padding: 30px;
    height: 85px;
}

.firstsecond-row {
    padding: 0 0 0 30px;
}

.goBackArrow {
    transform: rotate(180deg);
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.backStyle {
    font-size: 15px;
    color:   #446988; 
}

.list-md {
    margin: 0 15px !important;
    border-bottom: 1px solid #ddd;
}

.list-md:last-child {
    border-bottom: none !important;
} 

.list-ios {
    margin: 0 15px !important;
    border-bottom: 1px solid #ddd;
}

.list-ios:last-child {
    border-bottom: none !important;
} 

.item-native {
    padding: 0;
}

.phoneNumber {
    font-size: 15px;
    color:#414141; 
}

.goForward {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    color:#446988; 
}
