
.lightblue-titles{
	color: #3ba6de;
	font-size: 20px; 
	font-weight: bold;
}

.margins{
	padding-left: 3%;
}

img.logonegro{
    width: 80px;
}

.logoDiv {
    // text-align: right;
    padding: 30px 0 0 30px;
}

.logoMenu {
    float: right;
    padding: 30px;
    height: 85px;
}

.firstsecond-row {
    padding: 0 0 0 30px;
}

.iconSize {
    color: #3ba6de;
    height: 25px;
    width: 25px;
    vertical-align: bottom;
}

.phone {
    vertical-align: top;
    margin: 0;
}

.fadeOut {
    color: #B7B7B7;
}

.callText {
    background: none;
    color: #3ba6de;
    font-size: 15px;
    outline: none;
}

.phoneNumber {
    font-size: 15px;
    color:#414141;
}
