
.lightblue-titles{
	color: #3ba6de;
	font-size: 20px; 
	font-weight: bold;
}

.margins{
	padding-left: 3%;
}

.iconos-ayuda{
    margin: 0 9px 0 0;
    color: #3ba6de;
}

.plainText {
    color: #414141;
    text-decoration: none;
    font-size: 14px;
}

img.logonegro{
    width: 80px;
}

.logoDiv {
    // text-align: right;
    padding: 30px 0 0 30px;
}

.logoMenu {
    float: right;
    padding: 30px;
    height: 85px;
}

.firstsecond-row {
    padding: 0 0 0 30px;
}

.inputsStyle {
    width: 100%;
    color:#414141;
    max-width: 100% !important;
    padding: 0 10px 0 0;
    border: none;
    outline: none;
}

.button-submit{
    background-color: #3CA6DE;
    padding: 15px;
    color: white;
    border-radius: 30px;
    width: 80%;
    font-size: 4vw;
    font-weight: 800;
    margin: 30px 0 30px 0;
}

