<!--
  Generated template for the SolicitudesCiudadanoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>
  <div class="logoDiv">
    <img class= "logonegro" src="assets/imgs/logonegro.png">
    <img src="assets/imgs/signout.png" class="logoMenu" (click)="logout()">
  </div>
</ion-header>



<ion-content>
  <!-- <div class="logoDiv">
      <img class= "logonegro" src="assets/imgs/logonegro.png">
      <img src="assets/imgs/signout.png" class="logoMenu" (click)="logout()">
  </div> -->

	<ion-grid>

		<ion-row>
			<ion-col>
        <p class="lightblue-titles" *ngIf="CheckTipo()">Solicitudes</p>
        <p class="darkblue" *ngIf="!CheckTipo()">Servicios</p>
			</ion-col>
    </ion-row>
    
    <ion-row *ngIf="!CheckTipo()">
      <ion-col text-center>
          <button class="round-white-button" (click)="DireccionPersonal()" ><img  src="assets/imgs/personas.png" class="iconSize iconService"></button>
          <h6 class="textButton">Dirección de Personal y Orden (M-1)</h6>
        </ion-col>

      <ion-col text-center>
          <button class="round-white-button" (click)="ComisionEtica()" ><ion-icon class="icon-size iconSize iconService" name="paper"></ion-icon></button>
          <h6 class="textButton">Comisión de Etica Publica ARD </h6>
      </ion-col>
    </ion-row>
	
    <ion-row *ngIf="CheckTipo()" justify-content-center  style="margin: 0 0 20px 0;">
      <ion-col text-center>
        <button class="round-white-button" (click)="ComandanciaDeCapitania()"><img  src="assets/imgs/puertos@2x.png" class="iconSize"></button>
        <h6 class="textButton">Comandancia de Capitanía de  Puertos </h6>
      </ion-col>

      <ion-col text-center>
        <button class="round-white-button" ><img  src="assets/imgs/mar@2x.png" class="iconSize"></button>
        <h6 class="textButton">Dirección de Gente de Mar</h6>
      </ion-col>

      <ion-col text-center>
        <button class="round-white-button" ><img  src="assets/imgs/puerto 2@2x.png" class="iconSize"></button>
        <h6 class="textButton">Dir. de Estado de Rector de Puerto</h6> 
        <!-- <h6 class="textButton">Dirección de Estado de Rector de Puerto</h6>  -->
      </ion-col>
    </ion-row>  
   	  
    <ion-row *ngIf="CheckTipo()" justify-content-center>
      <ion-col text-center>
        <button class="round-white-button" ><img  src="assets/imgs/orden@2x.png" class="iconSize"></button>
        <h6 class="textButton">Dirección de Personal y Orden (M-1)</h6>
      </ion-col>
      
      <ion-col text-center>
          <button class="round-white-button" ><img  src="assets/imgs/naval@2x.png" class="iconSize"></button>
          <h6 class="textButton">División de Inteligencia Naval (M-2)</h6>
      </ion-col>
      
      <ion-col text-center>
          <button class="round-white-button" ><img  src="assets/imgs/operaciones@2x.png" class="iconSize"></button>
            <h6 class="textButton">División de operaciones navales (M-3)</h6>
      </ion-col>
    </ion-row>

	</ion-grid>

</ion-content>
